<h1>Actualites</h1>

<p class="total-count"><%= @list_actualites[:total_count] %> <%= "item".pluralize(@list_actualites[:total_count]) %></p>

<ul class="actualites-list">
  <% @list_actualites[:items].each do |actualite| %>
    <li class="actualites-list-item">
      <%= link_to(actualite_path(actualite.uniteam_id)) do %>
      <%= image_tag api_image(actualite.image_url, "news") %>
        <%= content_tag(:h5, actualite.name) %>
        <%= content_tag(:h6, (l Time.at(actualite.date))) %>
      <% end %>

  <% end %>
</ul>

<%= paginate @pagination %>

  

