<!DOCTYPE html>
<html>
<head>
  <title>ExpoMuseesWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<% if signed_in? %>
  <%= t('welcome-message') %> <%= current_username %>
  <%= link_to t('profile'), profil_path %>
  <%= link_to t('sign-out'), se_deconnecter_path %>
<% else %>
  <%= link_to t('sign-in'), se_connecter_path %> | <%= link_to t('sign-up'), inscription_path %>
<% end %>

<%= yield %>

</body>
</html>
